body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header, nav, article {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #02044d;
  color: #ffffff;
  font-family: Impact, sans-serif;
  font-size: 30pt;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #02044d;
  color: #ffffff;
  font-family: Impact, sans-serif;
  font-size: 22pt;
  text-align: center;
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
  color: #0066CC;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

article {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
}

.article-image {
  width: 50%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
}

.center-image {
  text-align: center;
}

.center-text {
  text-align: center;
}

.article-small {
  flex-basis: 100%;
}

.article-medium {
  flex-basis: calc(50% - 20px);
}

.article2 h2,
.article3 h2,
.article4 h2,
.article2 h4,
.article3 h4,
.article4 h4 {
  font-weight: bold;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  width: 100%;
  padding: 20px;
  background-color: #26384b;
  color: #ffffff;
  font-family: Verdana, sans-serif;
  font-size: 15pt;
  text-align: center;
}

footer p {
  margin: 0;
}

footer a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
  color: #0066CC;
}