body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header, nav, article {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #02044d;
  color: #ffffff;
  font-family: Impact, sans-serif;
  font-size: 30pt;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #02044d;
  color: #ffffff;
  font-family: Impact, sans-serif;
  font-size: 22pt;
  text-align: center;
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
  color: #0066CC;
}

.article-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px; /* Increased margin for more space */
}

article {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 20px; /* Increased padding for more space */
}

.article-image {
  width: 50%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
}

.article3 {
  width: 100%;
}

.center-image {
  text-align: center;
}

.center-text {
  text-align: center;
}

.article-small {
  height: 400px; /* Increased height for more space */
}

.article-medium {
  height: 500px; /* Increased height for more space */
}

.article2 h2,
.article3 h2,
.article4 h2,
.article2 h4,
.article3 h4,
.article4 h4 {
  font-weight: bold; /* Make only h2 and h4 elements bold */
}

.article2,
.article3,
.article4 {
  width: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  width: 100%;
  padding: 20px;
  background-color: #26384b;
  color: #ffffff;
  font-family: Verdana, sans-serif;
  font-size: 15pt;
  text-align: center; /* Center-align the content in the footer */
}

footer p {
  margin: 0; /* Remove default margin for better centering */
}

footer a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 10px; /* Add margin to the footer links */
}

footer a:hover {
  text-decoration: underline;
  color: #0066CC;
}