

	header {
  width: 900px;
  height: 50px;
  background-color: #ffffff;
  margin: auto;
}
 
nav {
  width: 900px;
  height: 50px;
  margin: auto;
  background-color: #ffffff;
}
 
#bigimage {
  width: 100%;
  height: 300px;
}
 
main {
  width: 900px;
  background-color: red;
  margin: auto;
}
article {
  height: 600px;
  float: left;
  padding: 10px;
  background-color: #ffffff;
}
 
.big {
  width: 580px;
  margin: 20px 20px 20px 0px;
}
 
.small {
  width: 300px;
  margin: 20px 0px;
}
 
footer {
  width: 100%;
  height: 100px;
  padding-bottom: 40px;
  background-color: #00c9fd;
  clear: both;
}
